Repository kanidm/kanidm, pull requests merged in 2024-05, with the labels that each got.

#2753 Fixing up build for rust 1.78, hiding things behind cfg(test) etc.
  .github/workflows/kanidm_book.yml
  server/lib/src/be/idl_arc_sqlite.rs
  server/lib/src/plugins/mod.rs
  server/lib/src/server/keys/object.rs
  server/lib/src/server/keys/provider.rs
  tools/orca/src/generate.rs
Labels: automation

#2761 Updating text to fix typo, add more info
  unix_integration/src/client_sync.rs
Labels: uwu, unix

#2758 Don't need to check versions when there's an intermediary reporting connectivity issues
  libs/client/src/lib.rs
Labels: enhancement, kanidm (cli)

#2780 feat: add support for ldap compare request
  CONTRIBUTORS.md
  book/src/supported_features.md
  server/lib/src/idm/ldap.rs
Labels: enhancement, ldap

#2791 WIP: serialization and domain info setting wonkiness
  libs/client/src/lib.rs
  server/core/src/config.rs
  server/core/src/https/v1.rs
  server/core/src/https/v1_scim.rs
  server/core/src/lib.rs
  server/lib/src/idm/server.rs
  server/lib/src/plugins/domain.rs
  server/lib/src/plugins/gidnumber.rs
  server/lib/src/plugins/protected.rs
  server/lib/src/server/migrations.rs
  server/testkit/src/lib.rs
  server/testkit/tests/domain.rs
  unix_integration/tests/cache_layer_test.rs
Labels: bug, uwu, oh no~, internals
